In [1]:
## 数据预处理
import pandas as pd
import pytz
import numpy as np
sim_dat = pd.read_csv('https://raw.githubusercontent.com/happyrabbit/DataScientistR/master/Data/SegData.csv')

In [2]:
sim_dat.describe()

,age,income,store_exp,online_exp,store_trans,online_trans,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10
count,1000.000000,816.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,38.840000,113543.065222,1356.850523,2120.181187,5.350000,13.546000,3.101000,1.823000,1.992000,2.763000,2.945000,2.448000,3.434000,2.396000,3.085000,2.320000
std,16.416818,49842.287197,2774.399785,1731.224308,3.695559,7.956959,1.450139,1.168348,1.402106,1.155061,1.284377,1.438529,1.455941,1.154347,1.118493,1.136174
min,16.000000,41775.637023,-500.000000,68.817228,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,25.000000,85832.393634,204.976456,420.341127,3.000000,6.000000,2.000000,1.000000,1.000000,2.000000,1.750000,1.000000,2.500000,1.000000,2.000000,1.000000
50%,36.000000,93868.682835,328.980863,1941.855436,4.000000,14.000000,3.000000,1.000000,1.000000,3.000000,4.000000,2.000000,4.000000,2.000000,4.000000,2.000000
75%,53.000000,124572.400926,597.293077,2440.774823,7.000000,20.000000,4.000000,2.000000,3.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000
max,300.000000,319704.337941,50000.000000,9479.442310,20.000000,36.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [9]:
## ------------------------------
## 数据清理
# 将错误的年龄观测设置为缺失值
sim_dat.age = sim_dat.age.replace(sim_dat.age > 100, np.nan)

/Users/happyrabbit/anaconda/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [14]:
sim.dat$age[which(sim.dat$age>100)]<-NA
# 将错误的实体店购买观测设置为缺失值
sim.dat$store_exp[which(sim.dat$store_exp<0)]<-NA
# 通过summary()函数检查清理情况
summary(subset(sim.dat,select=c("age","income")))
## ------------------------------
## 缺失值填补
### 中位数或众数填补
# 将填补后的数据存在另外一个数据框中
demo_imp<-impute(sim.dat,method="median/mode")
# 只检查前5列，因为后面没有缺失值
summary(demo_imp[,1:5])

imp<-preProcess(sim.dat,method="medianImpute")
demo_imp2<-predict(imp,sim.dat)
summary(demo_imp2[,1:5])

### K-近邻填补

imp<-preProcess(sim.dat,method="knnImpute",k=5)
# 用predict()函数进行KNN填补
# 会有错误提示
demo_imp<-predict(imp,sim.dat)
# 找到因子变量
imp<-preProcess(sim.dat,method="knnImpute",k=5)
idx<-which(lapply(sim.dat,class)=="factor")
demo_imp<-predict(imp,sim.dat[,-idx])
summary(demo_imp[,1:3])
# 这里只显示前3个元素
lapply(sim.dat,class)[1:3]

##---------
temp<-rbind(sim.dat,rep(NA,ncol(sim.dat)))
imp<-preProcess(sim.dat,method="knnImpute",k=5)
idx<-which(lapply(temp,class)=="factor")
demo_imp<-predict(imp,temp[,-idx])
##-----------
idx<-apply(temp,1,function(x) sum(is.na(x)) )
as.vector(which(idx==ncol(temp)))

### 袋状树填补
##-------------------
imp<-preProcess(sim.dat,method="bagImpute")
demo_imp<-predict(imp,sim.dat)
summary(demo_imp[,1:5])

Empty DataFrame
Columns: [age, gender, income, house, store_exp, online_exp, store_trans, online_trans, Q1, Q2, Q3, Q4, Q5, Q6, Q7, Q8, Q9, Q10, segment]
Index: []